/*  create a sass variables and give them a value to work with */

$body_color: #3D3D3D;
$back_g: #6D6D6D;


p {
    color: $body_color;
  }

body {
    color: $body_color;
    background-color: $back_g;
  }

  h2 {
    background-color: $back_g;
}
